body{
    background: #000;
}
#follower {
    width: 125px;
    height: 121px;
    background-image:url(../assets/giflogo.gif);
    position: absolute;
    pointer-events: none; 
    transition: all 0.2s ease; 
  }